<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturas</title>
    <link rel="stylesheet" href="../css/facturas.css">
</head>
<body>
    <div class="sidebar">
        <h2>💊 Farmacia Sistema</h2>
        <div class="container">
        <a href="./nit.html">👥 Clientes</a>
        <a href="./articulos.html">📦 Articulos</a>
        <a href="../index.html">📝 Registro</a>
        <a href="./facturasView.html">📊 Historial Facturas</a>
        </div>
    </div>

    <div class="main">
        <h1 class="main-title">Gestión de Facturas</h1>
        <div id="facturas-container">
        </div>
    </div>
    

    <script src="../js/facturas.js"></script>
</body>
</html>
