<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gestión de Nits</title>
  <link rel="stylesheet" href="../css/nit.css">
</head>
<body>

  <div class="sidebar">
    <h2>💊 Farmacia Sistema</h2>
    <a href="../index.html">📝 Facturas</a>
    <a href="./nit.html">👥 Clientes</a>
    <a href="./articulos.html">📦 Articulos</a>
    <a href="#">Configuración</a>
  </div>

  <div class="main">
    <h1 class="main-title">Gestión de Clientes</h1>

    <div class="form-section">
      <h2>Nuevo Cliente</h2>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" placeholder="Nombre" >
      <label for="doc">Documento:</label>
      <input type="text" id="doc" placeholder="Documento" >
      <label for="cupo">Cupo:</label>
      <input type="number" id="cupo" placeholder="Cupo" required>
      <label for="plazo">Plazo:</label>
      <input type="number" id="plazo" placeholder="Plazo" required>
      <label for="cartera">Cartera:</label>
      <input type="number" id="cartera" placeholder="Cartera"  value="0" readonly required>
      <button onclick="submitNitForm()">Guardar</button>
      <div id="message"></div>
    </div>

    <div class="nits-list" id="nits"></div>
  </div>

  <script src="../js/nit.js"></script>
</body>
</html>
